// Styles for the installation page.
// -----------------------------------------------------------------------------
@import "base/variables";
@import "base/mixin";
@import "base/helpers";
@import "components/button";
@import "components/form";
@import "components/progress";

body.install-page {
  background: #222;

  a {
    color: color(brown);
  }

  .button {
    background: color(brown);
    border-color: darken(color(brown), 10);
  }

  .layout-container {
    box-shadow: $shadow;
    border-radius: 2px;
    padding: 0;
  }

  header,
  footer {
    padding: 1.5em;
    @extend %clearfix;
  }

  header {
    background: color(brown);
    color: white;
  }

  .wrapper {
    @extend %clearfix;
    padding: 1.5em 1.5em 1.5em 0;
  }

  aside {

    @media (min-width: 48em) {
      width: 25%;
    }
  }

  main {
    width: auto;
    padding-left: 1.5em;

    @media (min-width: 48em) {
      margin-left: 27%;
      float: none;
    }

    h2 {
      margin: 0 0 1em;
    }
  }

  footer {
    clear: both;
    font-size: 0.85em;
    background: color(gray-light);

    p {
      margin: 0;
    }
  }

  .step-indicator {
    top: 0.5em;
    font-size: 1.0em;
  }

  .page-title {
    margin: 0;
    color: white;
  }

  .copyright {
    text-align: center;

    @media (min-width: 48em) {
      float: left;
      text-align: left;
    }
  }

  .version {
    text-align: center;

    @media (min-width: 48em) {
      float: right;
      text-align: right;
    }
  }
}

.task-list {
  padding: 0;
  margin: 0;

  li {
    padding: 0.5em 1em 0.5em 1.5em;
  }
}
