{#
/**
 * @file
 * Template for a term.
 */
#}
{%
set classes = [
'term',
term.bundle|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}
</div>
