// Colors
// -----------------------------------------------------------------------------
$colors: (
  blue:         #3498db,
  blue-dark:    #196090,
  gray-dark:    #2c3e50,
  gray-light:   #ebeae4,
);

// Shadow
// -----------------------------------------------------------------------------
$shadow: 0 1px 6px rgba(black, .12), 0 1px 4px rgba(black, .12);
