{#
/**
 * @file
 * Template for Views Menus: Menus.
 */
#}
{% if title %}
  <h2>{{ title }}</h2>
{% endif %}
<div class="row">
  {% for row in rows %}
    <div{{ row.attributes.addClass('col-md-6 view__row') }}>
      {{ row.content }}
    </div>
  {% endfor %}
</div>
