// Body
// -----------------------------------------------------------------------------
body {
  background-color: $body-bg;
}

// Container
// -----------------------------------------------------------------------------
.container {
  max-width: 970px;
}

// Page
// -----------------------------------------------------------------------------
.page {
  margin: 0 auto;
  background: $body-bg $body-bg-image;

  .boxed & {
    max-width: 1200px;
  }

  &__header {
    padding: 15px;
  }

  &__hero {
    border-bottom: 2px solid $brand-primary;
  }

  &__content {

    > .container {
      padding-top: 50px;
      padding-bottom: 50px;

      > .block {
        margin-bottom: 2.5em;
      }
    }
  }

  &__bottom {

    .container {
      padding-bottom: 4em;
    }

    h2 {
      font-size: 2.4em;
      margin-bottom: 0.8em;
    }
  }

  &__footer {
    margin: 0;
    padding: 65px 0 45px;
    position: relative;
    background-size: cover;

    &:before {
      z-index: 100;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(darken($brand-primary, 30), 0.90);
    }

    > .container {
      z-index: 200;
      position: relative;
      max-width: 767px;
      color: $footer-text-color;
      font-size: 14px;

      h1, h2, h3, h4, h4, h6 {
        color: $footer-text-color;
        font-weight: 400;
      }

      a {
        color: $footer-text-color;
        &:hover, &:focus {
          color: $brand-secondary;
        }
      }

      h3 {
        text-transform: uppercase;
        font-size: 1.4em;
      }

      h4, strong {
        color: white;
      }
    }
  }
}
