// Input
// -----------------------------------------------------------------------------
%input {
  padding: 0.5em 1em;
  height: $input-height;
  background: white;
  box-shadow: none;

  &:focus,
  &:active {
    box-shadow: none;
  }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="file"] {
  @extend %input;
}
