// Button
// -----------------------------------------------------------------------------
%button {
  border-radius: 2px;
  padding: 0 1em;
  min-width: 100px;
  height: $input-height;
  line-height: $input-height - 2;
  text-shadow: none;
  box-shadow: none;
  font-weight: 700;
}

%button--small {
  font-size: 1em;
  padding: 0 1em;
  height: $input-height - 8;
  line-height: $input-height - 10;
}

%button--primary {
  background: $brand-primary;
  border-color: $brand-primary;

  &:hover,
  &:focus {
    border-color: lighten($brand-primary, 15);
    background-color: lighten($brand-primary, 15);
  }
}

%button--danger {
  display: inline-block;
  text-decoration: none;
  background: $brand-danger;
  border-color: $brand-danger;
  color: white;
  float: right;
  margin-right: 0;
}

.button,
input[type="submit"],
.no-touchevents .button {
  @extend %button;

  &--small {
    @extend %button--small;
  }

  &--primary {
    @extend %button--primary;
  }

  &--danger {
    @extend %button--danger;
  }
}

// Dropbutton
// -----------------------------------------------------------------------------
.js .dropbutton-widget,
.js .dropbutton-multiple .dropbutton-widget,
.js .dropbutton-multiple.open .dropbutton-widget {
  border-radius: 2px;

  .dropbutton-action,
  .dropbutton-toggle {

    a,
    button,
    input {
      @extend %button;
      min-width: auto;
      height: $input-height - 2;

      &:hover {
       box-shadow: none;
      }
    }

    a {
      height: auto;
    }
  }

  .dropbutton-toggle {

    button {
      height: $input-height - 3;

      &:hover,
      &:active,
      &:focus {
        background: none;
        box-shadow: none;
      }
    }
  }
}
