{#
/**
 * @file
 * Theme override to display a view of rows.
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
  set row_classes = [
  default_row_class ? 'view__row',
  ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{ row.content }}
  </div>
{% endfor %}
