// Blog Post
// -----------------------------------------------------------------------------
.blog-post {

  &__date {
    margin-bottom: 0.2em;
  }

  &__featured-image {
    margin-bottom: 1.0em;
    
    @include breakpoint(md) {
      margin-bottom: 0;
    }
  }

  &__readmore {
    display: inline-block;
    margin-top: 1em;
  }
}

// Blog Post: Teaser view mode
// -----------------------------------------------------------------------------
.blog-post--teaser {

}

// Blog Post: Full view mode
// -----------------------------------------------------------------------------
.blog-post--full {

  .blog-post {

    &__date {
      margin-bottom: 0.5em;
    }
  }
}

// View : Blog
// -----------------------------------------------------------------------------
.view-display-id-blog {

  .blog-post {
    margin: 0 0 2.5em;
    padding: 0 0 2.5em;
    border-bottom: 1px solid $border-color;
  }
}

// View: Featured Blog Posts
// -----------------------------------------------------------------------------
.view-display-id-featured_blog_posts {

  .blog-post {
    border-top: 1px solid $border-color;
    padding-top: 1em;
    margin-top: 1em;
  }
}
