// Blog Post
// -----------------------------------------------------------------------------
.blog-post {

  &__date {
    margin-bottom: 0.2em;
  }

  &__readmore {
    display: inline-block;
    margin-top: 1em;
  }
}

// Blog Post: Teaser view mode
// -----------------------------------------------------------------------------
.blog-post--teaser {
  margin: 0 0 50px;
  padding: 0 0 50px;
  border-bottom: 1px solid lighten($brand-primary, 25);
}

// View: Featured Blog Posts
// -----------------------------------------------------------------------------
.view-display-id-featured_blog_posts {

  .view__row {

    .node {
      border-top: 1px solid lighten($brand-primary, 25);
      padding-top: 1em;
      margin-top: 1em;
    }
  }
}
