// Event
// -----------------------------------------------------------------------------
.event {
  img {
    width: 100%;
    height: auto;
  }
}

// Event: Featured view mode
// -----------------------------------------------------------------------------
.event--featured {
  margin-bottom: 2.5em;
}