// Event
// -----------------------------------------------------------------------------
.event {

  img {
    width: 100%;
    height: auto;
  }
}

// Event: Featured view mode
// -----------------------------------------------------------------------------
.event--featured {
  margin-bottom: 2.5em;
}

// Event: Full view mode
// -----------------------------------------------------------------------------
.event--full {

  .event {

    &__location {
      margin-top: 1em;
    }
  }
}
