// Node: Location
// -----------------------------------------------------------------------------
.node-location {
  .image {
    border: 1px solid $brand-primary;
    padding: 8px;
    border-radius: 2px;
  }

  .field-slideshow-controls .fa {
    font-size: 3.0em;
    width: 30px;
    height: 70px;
    margin-top: -45px;
  }
}

// Map
// -----------------------------------------------------------------------------
#map_canvas {
  width: 100% !important;
}