// Page title
// -----------------------------------------------------------------------------
.page-header {
  margin: 0 0 2.5em;
  padding: 0 0 1.5em;
  border-bottom: 1px solid $border-color;

  h1 {
    font-size: 3.0em;
  }
}
