// Styles for Slideshows
// -----------------------------------------------------------------------------

// Slide
// -----------------------------------------------------------------------------
.field-slideshow-slide {
  background-repeat: no-repeat;
  background-position: center;
  width: 100% !important;
  //height: 100% !important;
  background-size: cover;

  .container {
    position: relative;
    height: 250px;
  }

  .caption {
    color: lighten($brand-primary, 40);
    text-align: center;
    text-shadow: 0px 1px 8px rgba($brand-primary, 0.9);
    background-color: rgba(darken($brand-primary, 10), 0.90);
    padding: 30px;
    position: relative;
    max-width: 500px;
    margin: 60px auto;
    @include box-shadow(0 0 5px rgba($brand-primary, 0.9));
    &:before {
      content: " ";
      border: 1px solid lighten($brand-primary, 30);
      position: absolute;
      top: 15px;
      right: 15px;
      bottom: 15px;
      left: 15px;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: $font-secondary;
      color: white;
      margin: 0;
      text-transform: uppercase;
    }

    h1 {
      font-size: 28px;
      @include bp(sm) {
        font-size: 32px;
      }
    }

    p {
      font-size: 22px;
      line-height: 140%;
      font-weight: 300;
      @include bp(md) {
        font-size: 24px;
        line-height: 140%;
      }
    }

    small {
      font-size: 0.85em;
    }
  }
}

// Controls
// -----------------------------------------------------------------------------
.field-slideshow-controls {
  visibility: hidden;
  .fa {
    width: 60px;
    height: 150px;
    margin-top: -80px;
    font-size: 120px;
    font-family: $font-icon;
  }
  @include bp(md) {
    visibility: visible;
  }
}

// Pagers
// -----------------------------------------------------------------------------
.carousel ol.carousel-indicators {
  bottom: 10px;
  li {
    border: 0;
    width: 15px;
    height: 15px;
    text-indent: 0px;
    margin: 0 6px;
    a {
      display: block;
      width: 15px;
      height: 15px;
      text-indent: -9999px;
      border: 1px solid $brand-primary;
      font-size: 0;
      cursor: pointer;
      margin: 0;
      border-radius: 50%;
    }
    &.active {
      background: none;
      a {
        background-color: $brand-primary;
      }
    }
  }
}