// Body
// -----------------------------------------------------------------------------
body {
  background-color: $body-bg;
}

// Container
// -----------------------------------------------------------------------------
.container {
  max-width: 970px;
}

// Page
// -----------------------------------------------------------------------------
.page {
  margin: 0 auto;
  background: $body-bg $body-bg-image;

  .boxed & {
    max-width: 1200px;
  }
}
