// Block: Page title
// -----------------------------------------------------------------------------
.block--page--title {
  margin: 0;

  .path--node & {

    @include breakpoint(md) {
      display: none;
    }
  }
}

.page__title {
  margin: 0 0 0.5em;
  padding: 0 0 0.5em;
  border-bottom: 1px solid $border-color;
  text-transform: uppercase;
  font-size: 2.2em;

  .path--node .node & {
    display: none;
    
    @include breakpoint(md) {
      display: block;
    }
  }
}
