// Hero
// -----------------------------------------------------------------------------
.hero {
  position: relative;
  min-height: 250px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__caption {
    text-align: center;
    color: lighten($brand-primary, 40);
    background-color: rgba(darken($brand-primary, 10), 0.90);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    display: table;
    padding: 30px;

    &:before {
      content: " ";
      border: 1px solid lighten($brand-primary, 30);
      position: absolute;
      top: 15px;
      right: 15px;
      bottom: 15px;
      left: 15px;
    }
  }

  h1, h2, h3, h4, h5, h6, a {
    font-family: $font-secondary;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    color: lighten($brand-primary, 30);
  }

  h1 {
    font-size: 28px;
    @include bp(sm) {
      font-size: 32px;
    }
  }

  p {
    font-size: 18px;
    line-height: 140%;
    font-weight: 300;
    @include bp(md) {
      font-size: 18px;
      line-height: 140%;
    }
  }

  small {
    font-size: 0.85em;
  }

  a {
    color: white;

    &:hover {
      color: $brand-secondary;
    }
  }
}
