// Calendar
// -----------------------------------------------------------------------------
.calendar-calendar {
  padding: 0;
  margin-bottom: 40px;
  .month-view {
    table.full {
      tr {
        background: none;
      }
      th, td {
        border: 1px solid $brand-primary;
        &.single-day, &.date-box, &.days {
          background: none;
          &.empty, &.no-entry, &.future.empty {
            background: none;
          }
          &.today {
            border-color: $brand-secondary;
          }
        }
        &.single-day {
          div.monthview {
            background: lighten($brand-secondary, 10);
            padding: 5px;
            color: white;
            border-radius: 0;
            a {
              color: white;
              font-size: 1.2em;
              .date-display-range {
                font-size: 0.85em;
              }
            }
          }
        }
        &.multi-day {
          td {
            height: 30px;
          }
          div.monthview, div.weekview, div.dayview {
            background: lighten($brand-secondary, 10);
            height: 40px;
            padding: 5px;
            border-radius: 0;
            a {
              color: white;
              font-size: 1.2em;
              .date-display-range {
                font-size: 0.85em;
              }
            }
            .continuation, .continues, .cutoff {
              display: none;
            }
          }
        }
      }
    }
  }
}
.date-nav-wrapper {
  h3 {
    font-size: 24px;
    line-height: 140%;
    padding-top: 10px;
    margin: 0;
  }
}