// Nav: Tabs
// -----------------------------------------------------------------------------
.nav {
  &-tabs, &--tabs {
    margin: 0 auto 25px;
    text-align: center;
    border: 1px solid $brand-primary;
    border-radius: 2px;

    @include breakpoint(sm) {
      display: table;
    }

    li {
      margin: 0;
      float: none;
      border-bottom: 1px solid $brand-primary;

      @include breakpoint(sm) {
        border: 0;
        border-right: 1px solid $brand-primary;
        float: left;
      }

      &:last-child {
        border: 0;
      }

      a {
        @extend .btn;
        border: 0;
        margin: 0;
        border-radius: 0;

        @include breakpoint(md) {
          min-width: 200px;
        }

        &:hover,
        &:focus {
          border: 0;
          background-color: $brand-secondary;
          color: white;
          box-shadow: none;
        }
      }

      &.active-trail {

        a,
        a:hover,
        a:focus {
          border: 0;
          background-color: $brand-secondary;
          color: white;
        }
      }
    }
  }
}
