// Navbar collapse
// -----------------------------------------------------------------------------
.navbar-collapse {
  padding: 0;

  @include breakpoint(sm) {
    position: relative;
    float: right;
    left: -50%;
  }
}

// Navbar
// -----------------------------------------------------------------------------
.navbar.navbar-default {
  border: 2px solid $brand-primary;
  border-width: 2px 0;
  margin: 0;
  background: $body-bg $body-bg-image;

  &.stuck {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 700;
  }
}

// Do not stick the navbar when the toolbar is present.
.toolbar-fixed.toolbar-horizontal {
  .navbar.stuck {
    position: static;
  }
}

.navbar-header {

  .btn {
    margin: 8px 0 8px 15px;
    padding: 6px 10px;

    + .btn {
      margin-left: 8px;
    }
  }
}

// Navbar toggle
// -----------------------------------------------------------------------------
.navbar-toggle {
  padding: 5px 10px;
  margin-right: 15px;

  i {
    vertical-align: middle;
  }

  .navbar-default & {

    &:hover {
      background-color: $brand-secondary;
      border-color: $brand-secondary;
      color: white;
    }
  }
}

// Navbar Nav
// -----------------------------------------------------------------------------
ul.navbar-nav {
  padding: 0 20px;

  @include breakpoint(md) {
    padding: 0;
  }

  @include breakpoint(sm) {
    position: relative;
    float: left;
    left: 50%;
  }

  > li {
    position: relative;
    margin: 15px 0 10px;
    padding: 0 6px;

    @include breakpoint(md) {
      padding: 9px 0 9px 17px;
      margin: 0;

      &:before {
        content: "\2726";
        font-size: 10px;
        line-height: 30px;
        position: absolute;
        left: 0;
      }

      &:first-child {
        padding-left: 0;

        &:before {
          display: none;
        }
      }
    }

    + li {

      @include breakpoint(md) {
        margin-left: 17px;
      }
    }
  }

  li {

    a {
      font-family: $font-secondary;
      font-weight: 600;
      text-transform: uppercase;
      padding: 4px 6px;
      font-size: 13px;
      text-align: center;
      transition: all 0.2s ease-in-out;

      @include breakpoint(md) {
        text-align: left;
      }

      @include breakpoint(md) {
        padding: 4px 10px;
        font-size: 15px;
      }
    }
  }

  > li {

    &.has-btn {

      @include breakpoint(md) {
        padding-left: 25px;
      }

      a.btn {
        padding: 4px 8px 2px;
        display: table;
        margin: 0 auto;

        &:hover {
          background-color: $brand-secondary;
          color: white;
        }

        @include breakpoint(md) {
          padding: 4px 15px 2px;
        }
      }
    }

    .dropdown-menu {
      margin-top: 2px;
    }
  }
}

// Dropdown menu
// -----------------------------------------------------------------------------
ul.dropdown-menu {
  padding: 10px 0;
  box-shadow: none;
  border-radius: 0;

  li {

    a {
      padding: 5px 23px;
    }
  }
}
