// Blog Post
// -----------------------------------------------------------------------------
.blog-post {

  &__date {
    margin-bottom: 0.2em;
  }

  &__featured-image {
    margin-bottom: 1.0em;
    
    @include breakpoint(md) {
      margin-bottom: 0;
    }
  }

  &__readmore {
    display: inline-block;
    margin-top: 1em;
  }
}

// Blog Post: Teaser view mode
// -----------------------------------------------------------------------------
.blog-post--teaser {

}

// Blog Post: Full view mode
// -----------------------------------------------------------------------------
.blog-post--full {

  .blog-post {

    &__date {
      margin-bottom: 0.5em;
    }
  }
}
