// Node: Menu
// -----------------------------------------------------------------------------
.menu {

  &__images {

    img {
      display: block;
      border: 1px solid $brand-primary;
      padding: 0.25em;
    }
  }

  &__nutrition-types {

    .field__item {
      display: inline-block;
      margin: 0 0.5em 0 0;
    }
  }
}

// View mode: Teaser
// -----------------------------------------------------------------------------
.menu--teaser {

  .menu {

    &__title {
      margin-bottom: 0.25em;
    }
  }
}
