// Node: Menu
// -----------------------------------------------------------------------------
.menu {

  &__images {
    margin-bottom: 1.5em;
    
    @include breakpoint(md) {
      margin-bottom: 0;
    }

    img {
      display: block;
      border: 1px solid $brand-primary;
      padding: 0.25em;
    }
  }

  &__nutrition-types {
    margin-top: 0.5em;

    .field__item {
      display: inline-block;
      margin: 0 0.5em 0 0;
    }
  }

  &__description {
    margin-top: 1.5em;
  }

  &__variant {
    margin-top: 0.5em;
    position: relative;
    border-bottom: 1px dotted $brand-primary;

    &__type,
    &__price {
      background: $body-bg $body-bg-image;
      position: relative;
      top: 7px;
    }

    &__type {
      display: inline-block;
      text-transform: uppercase;
      padding-right: 0.5em;
    }

    &__price {
      float: right;
      padding-left: 0.5em;
    }
  }

  &__locations {
    margin: 1em 0;

    ul {
      margin-top: .5em;
      padding: 0 0 0 1em;
    }
  }
}

// View mode: Teaser
// -----------------------------------------------------------------------------
.menu--teaser {

  .menu {

    &__image {
      
      @include breakpoint(sm) {
        float: left;
      }
    }
    
    &__details {
      
      @include breakpoint(sm) {
        margin-left: 140px;
      }
    }

    &__title {
      margin-bottom: 0.25em;
    }
  }
}

// View mode: Full
// -----------------------------------------------------------------------------
.menu--full {

  .menu {

    &__variant {
      margin-bottom: 1.0em;
    }
  }
}
