// Event
// -----------------------------------------------------------------------------
.event {

  img {
    width: 100%;
    height: auto;
  }
}

// Event: Featured view mode
// -----------------------------------------------------------------------------
.event--featured {
  margin-bottom: 2.5em;
}

// Event: Full view mode
// -----------------------------------------------------------------------------
.event--full {

  .event {

    &__location {
      margin-top: 1em;
    }

    &__featured-image {
      margin-bottom: 1.5em;

      img {
        display: block;
        border: 1px solid $brand-primary;
        padding: 0.25em;
      }
    }

    &__body {
      margin-bottom: 1.5em;
    }
  }
}

// Hide extra address fields with CSS for now.
// Wait for the Plain formatter: https://www.drupal.org/node/2525762
// -----------------------------------------------------------------------------
.event--featured,
.event--teaser {

  .address-line1,
  .administrative-area,
  .postal-code {
    display: none;
  }

  br {
    display: none;
  }
}
