// Locations
// -----------------------------------------------------------------------------
.view-display-id-locations {

  .view__row {
    margin-bottom: 2.5em;
    padding-bottom: 2.5em;
    border-bottom: 1px solid $border-color;
  }
}
