// View: Past Events
// -----------------------------------------------------------------------------
.view--events--past-events {

  .view__row {
    padding-bottom: 1.0em;
    margin-bottom: 1.0em;
    border-bottom: 1px solid $border-color;

    h3 {
      margin-bottom: 0;
    }
  }
}
