// Headings
// -----------------------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em;
  line-height: 100%;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.4em;
  line-height: 130%;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.0em;
  text-transform: uppercase;
}

// Anchors
// -----------------------------------------------------------------------------
a {
  @include hover() {
    text-decoration: none;
  }
}

// Text
// -----------------------------------------------------------------------------
.text {

  &--lead {
    color: $brand-secondary;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &--light {
    font-weight: 300;
  }

  &--normal {
    font-weight: 500;
  }

  &--bold {
    font-weight: 600;
  }
}
