@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
.hidden {
  display: none !important; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

a {
  color: #2980b9; }

.button,
input[type="submit"],
.no-touchevents .button, .js .dropbutton-widget .dropbutton-action a,
.js .dropbutton-widget .dropbutton-action button,
.js .dropbutton-widget .dropbutton-action input,
.js .dropbutton-widget .dropbutton-toggle a,
.js .dropbutton-widget .dropbutton-toggle button,
.js .dropbutton-widget .dropbutton-toggle input,
.js .dropbutton-multiple .dropbutton-widget .dropbutton-action a,
.js .dropbutton-multiple .dropbutton-widget .dropbutton-action button,
.js .dropbutton-multiple .dropbutton-widget .dropbutton-action input,
.js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle a,
.js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle button,
.js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle input,
.js .dropbutton-multiple.open .dropbutton-widget .dropbutton-action a,
.js .dropbutton-multiple.open .dropbutton-widget .dropbutton-action button,
.js .dropbutton-multiple.open .dropbutton-widget .dropbutton-action input,
.js .dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle a,
.js .dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle button,
.js .dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle input {
  border-radius: 2px;
  padding: 0 1em;
  min-width: 100px;
  height: 35px;
  line-height: 33px;
  text-shadow: none;
  box-shadow: none;
  font-weight: 700; }

.button--small,
.no-touchevents .button--small {
  font-size: 1em;
  padding: 0 1em;
  height: 27px;
  line-height: 25px; }

.button--primary,
.no-touchevents .button--primary {
  background: #2980b9;
  border-color: #2980b9; }
  .button--primary:hover, .button--primary:focus {
    border-color: #55a5d9;
    background-color: #55a5d9; }

.button--danger,
.no-touchevents .button--danger {
  display: inline-block;
  text-decoration: none;
  background: #d9534f;
  border-color: #d9534f;
  color: white;
  float: right;
  margin-right: 0; }

.js .dropbutton-widget,
.js .dropbutton-multiple .dropbutton-widget,
.js .dropbutton-multiple.open .dropbutton-widget {
  border-radius: 2px; }
  .js .dropbutton-widget .dropbutton-action a,
  .js .dropbutton-widget .dropbutton-action button,
  .js .dropbutton-widget .dropbutton-action input,
  .js .dropbutton-widget .dropbutton-toggle a,
  .js .dropbutton-widget .dropbutton-toggle button,
  .js .dropbutton-widget .dropbutton-toggle input,
  .js .dropbutton-multiple .dropbutton-widget .dropbutton-action a,
  .js .dropbutton-multiple .dropbutton-widget .dropbutton-action button,
  .js .dropbutton-multiple .dropbutton-widget .dropbutton-action input,
  .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle a,
  .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle button,
  .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle input,
  .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-action a,
  .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-action button,
  .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-action input,
  .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle a,
  .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle button,
  .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle input {
    min-width: auto;
    height: 33px; }
    .js .dropbutton-widget .dropbutton-action a:hover,
    .js .dropbutton-widget .dropbutton-action button:hover,
    .js .dropbutton-widget .dropbutton-action input:hover,
    .js .dropbutton-widget .dropbutton-toggle a:hover,
    .js .dropbutton-widget .dropbutton-toggle button:hover,
    .js .dropbutton-widget .dropbutton-toggle input:hover,
    .js .dropbutton-multiple .dropbutton-widget .dropbutton-action a:hover,
    .js .dropbutton-multiple .dropbutton-widget .dropbutton-action button:hover,
    .js .dropbutton-multiple .dropbutton-widget .dropbutton-action input:hover,
    .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle a:hover,
    .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle button:hover,
    .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle input:hover,
    .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-action a:hover,
    .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-action button:hover,
    .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-action input:hover,
    .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle a:hover,
    .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle button:hover,
    .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle input:hover {
      box-shadow: none; }
  .js .dropbutton-widget .dropbutton-action a,
  .js .dropbutton-widget .dropbutton-toggle a,
  .js .dropbutton-multiple .dropbutton-widget .dropbutton-action a,
  .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle a,
  .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-action a,
  .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle a {
    height: auto; }
  .js .dropbutton-widget .dropbutton-toggle button,
  .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle button,
  .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle button {
    height: 32px; }
    .js .dropbutton-widget .dropbutton-toggle button:hover, .js .dropbutton-widget .dropbutton-toggle button:active, .js .dropbutton-widget .dropbutton-toggle button:focus,
    .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle button:hover,
    .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle button:active,
    .js .dropbutton-multiple .dropbutton-widget .dropbutton-toggle button:focus,
    .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle button:hover,
    .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle button:active,
    .js .dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle button:focus {
      background: none;
      box-shadow: none; }

div.cke_chrome {
  box-shadow: none; }
  div.cke_chrome .cke_top,
  div.cke_chrome .cke_bottom {
    background: #fcfcfa; }

div.cke_contents {
  min-height: 600px;
  padding: 1em; }
  .field--name-description div.cke_contents {
    min-height: 150px; }

details {
  border: 1px solid #ebeae4;
  border-radius: 2px; }
  details summary {
    text-transform: none;
    font-size: 1.2em;
    padding: 1em; }

.form-item,
.field--type-datetime, .field--widget-inline-entity-form-complex, .field--widget-inline-entity-form-complex .form-wrapper > .fieldset-wrapper table tr .form-item {
  margin: 0 0 2em; }

.description {
  margin: 0.25em 0 0; }

.field--widget-inline-entity-form-complex .form-wrapper {
  padding: 0;
  border: 0;
  background: none; }
  .field--widget-inline-entity-form-complex .form-wrapper > legend {
    position: static;
    float: left;
    width: 100%;
    font-size: 1.1em;
    margin: 0 0 0.25em;
    letter-spacing: 0;
    text-transform: none;
    box-sizing: border-box; }
  .field--widget-inline-entity-form-complex .form-wrapper > .fieldset-wrapper {
    clear: both;
    border: 1px solid #ebeae4; }
    .field--widget-inline-entity-form-complex .form-wrapper > .fieldset-wrapper table {
      margin: 0; }
      .field--widget-inline-entity-form-complex .form-wrapper > .fieldset-wrapper table thead th {
        border-top: 0;
        border-color: #ebeae4; }
    .field--widget-inline-entity-form-complex .form-wrapper > .fieldset-wrapper .tabledrag-toggle-weight-wrapper {
      display: none; }
    .field--widget-inline-entity-form-complex .form-wrapper > .fieldset-wrapper .form-type-entity-autocomplete {
      padding: 0 1em;
      margin: 0; }
    .field--widget-inline-entity-form-complex .form-wrapper > .fieldset-wrapper > .form-wrapper {
      padding: 1em; }

.field--widget-inline-entity-form-complex .ief-form {
  margin: 1em; }

.field--widget-inline-entity-form-complex .ief-tabledrag-handle {
  width: 30px; }

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="file"], textarea,
textarea.form-textarea {
  padding: 0.5em 1em;
  height: 35px;
  background: white;
  box-shadow: none;
  outline: none; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="tel"]:focus,
  input[type="date"]:focus,
  input[type="time"]:focus,
  input[type="file"]:focus, textarea:focus, input[type="text"]:active,
  input[type="email"]:active,
  input[type="number"]:active,
  input[type="password"]:active,
  input[type="tel"]:active,
  input[type="date"]:active,
  input[type="time"]:active,
  input[type="file"]:active, textarea:active {
    box-shadow: none;
    outline: none; }

input[type="file"] {
  padding-left: 0.5em; }

textarea,
textarea.form-textarea {
  height: auto; }
  textarea:focus, textarea:active,
  textarea.form-textarea:focus,
  textarea.form-textarea:active {
    box-shadow: none;
    outline: none; }

label,
.label,
.form-composite > legend, .field-storage-config-form .form-composite > legend {
  display: block;
  font-size: 1.1em;
  margin: 0 0 0.25em; }

.container-inline label, .container-inline
.label, .container-inline
.form-composite > legend {
  display: inline-block; }

select {
  padding: 0.5em 1em;
  height: 35px; }

.tabs__tab {
  border-radius: 2px 2px 0 0 !important; }

.system-themes-list,
body.toolbar-horizontal .system-themes-list-installed,
body.toolbar-horizontal .system-themes-list-uninstalled,
body.toolbar-vertical .system-themes-list-installed,
body.toolbar-vertical .system-themes-list-uninstalled {
  margin: 0 0 2em;
  padding: 1em 1em 0;
  border: 1px solid #ebeae4;
  border-radius: 2px; }
  .system-themes-list__header,
  body.toolbar-horizontal .system-themes-list-installed__header,
  body.toolbar-horizontal .system-themes-list-uninstalled__header,
  body.toolbar-vertical .system-themes-list-installed__header,
  body.toolbar-vertical .system-themes-list-uninstalled__header {
    margin: 0 0 1em; }
  .system-themes-list__description,
  body.toolbar-horizontal .system-themes-list-installed__description,
  body.toolbar-horizontal .system-themes-list-uninstalled__description,
  body.toolbar-vertical .system-themes-list-installed__description,
  body.toolbar-vertical .system-themes-list-uninstalled__description {
    margin: -0.5em 0 1.5em; }
  .system-themes-list .theme-selector,
  body.toolbar-horizontal .system-themes-list-installed .theme-selector,
  body.toolbar-horizontal .system-themes-list-uninstalled .theme-selector,
  body.toolbar-vertical .system-themes-list-installed .theme-selector,
  body.toolbar-vertical .system-themes-list-uninstalled .theme-selector {
    float: none;
    width: 100%;
    padding: 0 0 1em;
    margin: 0 0 1em; }
    .system-themes-list .theme-selector:last-child,
    body.toolbar-horizontal .system-themes-list-installed .theme-selector:last-child,
    body.toolbar-horizontal .system-themes-list-uninstalled .theme-selector:last-child,
    body.toolbar-vertical .system-themes-list-installed .theme-selector:last-child,
    body.toolbar-vertical .system-themes-list-uninstalled .theme-selector:last-child {
      margin-bottom: 0; }
  .system-themes-list .screenshot,
  .system-themes-list .no-screenshot,
  body.toolbar-horizontal .system-themes-list-installed .screenshot,
  body.toolbar-horizontal .system-themes-list-installed .no-screenshot,
  body.toolbar-horizontal .system-themes-list-uninstalled .screenshot,
  body.toolbar-horizontal .system-themes-list-uninstalled .no-screenshot,
  body.toolbar-vertical .system-themes-list-installed .screenshot,
  body.toolbar-vertical .system-themes-list-installed .no-screenshot,
  body.toolbar-vertical .system-themes-list-uninstalled .screenshot,
  body.toolbar-vertical .system-themes-list-uninstalled .no-screenshot {
    width: 300px;
    max-width: 300px;
    border: 1px solid #ebeae4;
    border-radius: 2px;
    padding: 0;
    float: left;
    margin: 0 2em 0 0; }
  .system-themes-list .theme-info,
  body.toolbar-horizontal .system-themes-list-installed .theme-info,
  body.toolbar-horizontal .system-themes-list-uninstalled .theme-info,
  body.toolbar-vertical .system-themes-list-installed .theme-info,
  body.toolbar-vertical .system-themes-list-uninstalled .theme-info {
    min-height: 0; }
    .system-themes-list .theme-info__header,
    body.toolbar-horizontal .system-themes-list-installed .theme-info__header,
    body.toolbar-horizontal .system-themes-list-uninstalled .theme-info__header,
    body.toolbar-vertical .system-themes-list-installed .theme-info__header,
    body.toolbar-vertical .system-themes-list-uninstalled .theme-info__header {
      font-size: 1.4em;
      margin: 0 0 0.5em;
      padding: 0.5em 0 0;
      font-weight: bold; }
    .system-themes-list .theme-info__description,
    body.toolbar-horizontal .system-themes-list-installed .theme-info__description,
    body.toolbar-horizontal .system-themes-list-uninstalled .theme-info__description,
    body.toolbar-vertical .system-themes-list-installed .theme-info__description,
    body.toolbar-vertical .system-themes-list-uninstalled .theme-info__description {
      line-height: 140%; }

.system-themes-list-installed,
body.toolbar-horizontal .system-themes-list-installed,
body.toolbar-vertical .system-themes-list-installed {
  border: 2px solid #2980b9; }
  .system-themes-list-installed .system-themes-list__header,
  body.toolbar-horizontal .system-themes-list-installed .system-themes-list__header,
  body.toolbar-vertical .system-themes-list-installed .system-themes-list__header {
    color: #2980b9; }

.toolbar .toolbar-bar {
  box-shadow: none; }

.toolbar .toolbar-tray-horizontal {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }

.ui-dialog .ui-dialog-titlebar {
  background: #2980b9;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.ui-dialog .ui-widget-content.ui-dialog-buttonpane {
  background: #ebeae4;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.vertical-tabs {
  background: none;
  border-radius: 2px;
  border: 1px solid #ebeae4; }
  .vertical-tabs__menu, .vertical-tabs__panes {
    border-color: #ebeae4; }
  .vertical-tabs__menu-item a {
    background: none;
    border-color: #ebeae4; }
  .vertical-tabs__menu-item.is-selected {
    border-bottom-color: #ebeae4;
    box-shadow: none; }

.view-header {
  padding: 0 0 1em; }

.views-form > form > .form-wrapper {
  border: 1px solid #ebeae4;
  padding: 1em;
  margin-bottom: 2em; }
  .views-form > form > .form-wrapper .form-item {
    margin: 0; }
  .views-form > form > .form-wrapper .form-wrapper {
    margin-bottom: 0; }

.install-theme-selection-form .form-item-default-theme {
  position: relative;
  padding: 0 0 0 2em;
  margin: 2em 0 0; }
  .install-theme-selection-form .form-item-default-theme input {
    position: absolute;
    top: 4px;
    left: 0; }
  .install-theme-selection-form .form-item-default-theme h4,
  .install-theme-selection-form .form-item-default-theme p {
    margin: 0 0 0.25em; }
  .install-theme-selection-form .form-item-default-theme img {
    width: 200px;
    height: auto;
    display: inline-block;
    margin-top: 0.25em; }

.content-header {
  background: #2980b9; }
  .content-header .page-title {
    color: white; }

body.install-page .layout-container {
  border-radius: 2px; }

/*# sourceMappingURL=kitchen.style.css.map */
