.hidden {
  display: none !important; }

a {
  color: #27ae60; }

.button {
  border-radius: 2px; }

.button {
  background: #27ae60;
  border-color: #1e8449; }

.form-item,
.form-actions,
details {
  margin: 0 0 1.5em; }

fieldset .form-item:last-child,
fieldset .form-item:last-child .form-item {
  margin-bottom: 0; }

fieldset legend {
  margin-bottom: 1em; }

ul.tips,
div.description,
.form-item .description {
  font-size: 0.85em; }

fieldset .form-item.form-item-account-pass-pass1 {
  margin-bottom: 1.5em !important; }

.progress .progress__track, .progress .progress__bar {
  border-radius: 2px;
  height: 24px; }

.progress .progress__bar {
  background: #27ae60; }

header.content-header {
  background: #27ae60;
  color: white; }

.toolbar-icon-entity-reservation-collection:before {
  background-image: url("../images/icons/calendar.svg");
  background-size: 100% 100%; }
