// CSS Helpers
// -----------------------------------------------------------------------------
.hidden {
  display: none !important;
}

// Clearfix
// -----------------------------------------------------------------------------
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
