// Colors
// -----------------------------------------------------------------------------
$colors: (
  blue:         #2980b9,
  blue-dark:    #196090,
  gray-dark:    #2c3e50,
  gray-light:   #ebeae4,
  brown:        #796b4f,
  purple:       #8e44ad,
  graphite:     #34495e,
  green:        #27ae60,
  orange:       #f44336,
  red:          #d9534f,
);

// Branding
// -----------------------------------------------------------------------------
$brand-primary: color(blue);
$brand-danger:  color(red);

// Border
// -----------------------------------------------------------------------------
$border-radius: 2px;
$border-color:  color(gray-light);

// Form
// -----------------------------------------------------------------------------
$input-height:    35px;

// Shadow
// -----------------------------------------------------------------------------
$shadow: 0 1px 6px rgba(black, .12), 0 1px 4px rgba(black, .12);
