// Typography
// -----------------------------------------------------------------------------
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

a {
  color: $brand-primary;
}
