.hidden {
  display: none !important; }

.form-item,
.form-actions,
details {
  margin: 0 0 1.5em; }

fieldset .form-item:last-child,
fieldset .form-item:last-child .form-item {
  margin-bottom: 0; }

fieldset legend {
  margin-bottom: 1em; }

ul.tips,
div.description,
.form-item .description {
  font-size: 0.85em; }

fieldset .form-item.form-item-account-pass-pass1 {
  margin-bottom: 1.5em !important; }

.progress__track, .progress__bar {
  border-radius: 2px;
  height: 24px; }

.progress__bar {
  background: #3498db; }

header.content-header {
  background: #196090;
  color: white; }
